<div class="container">
	<div class="top-half">
		<h2 class="post-container">{{user.name}}'s Current Post</h2>
		<div class="photo-frame">
			{{#if bucket_link}}
			<div class="flex flex-col w-full">
				<iframe src="https://docs.google.com/gview?url={{bucket_link}}&embedded=true"
					style="width:100%; height:600px;" frameborder="0"></iframe>
				<div class="mt-4 p-4 border border-gray-300">
					{{text}}
				</div>
			</div>
			{{else}}
			<div class="flex flex-col w-full">
				<div class="mt-4 p-4">
					{{text}}
				</div>
				{{/if}}
			</div>
		</div>


		<section class="comment-section object-right-top">
			<div class="container mx-auto px-4 py-8">
				<h2 class="text-3xl font-bold">Comments</h2>
			</div>

			{{#each comments as |comment|}}
			<div class="comment-bubbles">
				<div class="chat chat-start">
					<div class="chat-image avatar">
						<div class="w-10 rounded-full">
							<img src="/assets/images/{{user.avatar_link}}" ></img>
						</div>
					</div>
					<div class="chat-header mb-2">{{user.name}}</div>

					<div class="chat-bubble">{{comment_text}}</div>
				</div>
			</div>
			{{/each}}

	</div>

	</section>
	<div class="comment-form">
		<h3 class="text-xl font-bold mb-2">Leave a Comment</h3>
		<form id="comment-form" data-id="{{id}}">
			<label for="comment"> Comment</label>
			<textarea id="comment-input" name="comment" rows="3"
				class="block w-full rounded-md border-gray-300 shadow-sm focus:border-blue-300 focus:ring focus:ring-blue-200 focus:ring-opacity-50"
				placeholder="Add a comment"></textarea>
			<button class="docId" type="submit">Post Comment</button>
		</form>
	</div>
</div>