   <div class="profile-page">
    <form id="file-upload-form" >
    <input type="file" class="file-input file-input-bordered file-input-info w-full max-w-xs" />
        <div class="dropdown">
            <label tabindex="0" class="btn m-1">Industry/Field</label>
            <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-color-one rounded-box w-52">
                <li><a>Accomodation and Food Services</a></li>
                <li><a>Administration</a></li>
                <li><a>Agriculture, Forestry, Fishing and Hunting</a></li>
                <li><a>Arts, Entertainment and Recreation</a></li>
                <li><a>Construction</a></li>
                <li><a>Education</a></li>
                <li><a>Finance and Insurance</a></li>
                <li><a>Healthcare</a></li>
                <li><a>Industrial Machinery</a></li>
                <li><a>Information</a></li>
                <li><a>Manufacturing</a></li>
                <li><a>Mining</a></li>
                <li><a>Scientific and Technical Services</a></li>
                <li><a>Real Estate</a></li>
                <li><a>Retail</a></li>
                <li><a>Technology</a></li>
                <li><a>Transportation</a></li>
                <li><a>Utilities</a></li>
                <li><a>Wholesale</a></li>
            </ul>
        </div>
        <input type="submit" value="Submit" class="btn" />
        </form>
    <div class="table-grid">
        <div class="overflow-x-auto table-single">
        <h2 class="table-title">Uploaded Documents</h2>
        <table class="table w-full">
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Industry</th>
                <th>Date Uploaded</th>
            </tr>
            </thead>
            <tbody>
                 {{!-- {{#each documents as |document|}}
            <tr>
                <th>{{documents.length[i]}}</th>
                <td>{{id}}</td>
                <td>{{career_field}}</td>
                <td>{{date_uploaded}}</td>
                {{/each}}
            </tr> --}}
            </tbody>
        </table>
        </div>
        <div class="overflow-x-auto table-single">
        <h2 class="table-title">Other Posts</h2>
        <table class="table w-full">
            <!-- head -->
            <thead>
            <tr>
                <th></th>
                <th>Name</th>
                <th>Industry</th>
                <th>Date Uploaded</th>
            </tr>
            </thead>
            <tbody>
            <!-- row 1 -->
            {{!-- {{#each questions as |question|}}
            <tr>
                <th>{{questions.length[i]}}</th>
                <td>{{id}}</td>
                <td>{{career_field}}</td>
                <td>{{date_uploaded}}</td>
            </tr>
            {{/each}} --}}
            </tbody>
          </table>
        </div>
    </div>

</div>

<script src="/js/profile.js"></script>